countries.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:element name="staty" type="statyType"/>

	<xsd:complexType name="statyType">
		<xsd:sequence>
			<xsd:element name="stat" minOccurs="1" maxOccurs="unbounded" type="statType" />
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="statType">
		<xsd:sequence>
			<xsd:element name="nazov" type="xsd:string"/>
			<xsd:element name="rozloha" type="xsd:integer"/>
			<xsd:element name="pocetObyvatelov" type="xsd:decimal"/>
		</xsd:sequence>
		<xsd:attribute name="link" type="xsd:anyURI" use="optional"/>
	</xsd:complexType>
</xsd:schema>